
@media screen and (max-width: 1440px) {
    /*0330*/
    /* .detail {
        border-radius: 10px;
        background-color: #354764;
        padding: 15px;
        position: fixed;
        top: 200px;
        left: 69px;
        width: 1200px;
        height: 600px;
        z-index: 88;
    } */
    /* .datail-page02-c {
        overflow: scroll;
    }
    .datail-page02 {
        height: 100%;
        overflow: hidden;
    }
    .datail-page06-03-list-02 {
        width: 849px;}


    .datail-page06 .datail-page02-c{overflow: auto;} */
    /* .datail-page02-c-sc{height: 450px;} */

}
